%table.table.table-hover
  %thead
    %tr
      %th URL
      %th Original
      %th Corta
  %tbody
    - @list.each do |url|
      %tr
        %td= url.id
        %td
          %a{:href=>"/#{url.id.to_s(Base)}" , :target=>"_blank"} #{url.url}
        %td 
          %a{:href=>"/#{url.opc_url}", :target=>"_blank"} #{url.opc_url}